@import url('https://fonts.googleapis.com/css2?family=Comforter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nosifer&display=swap');

*{
    margin: 0%;
    padding: 0%;
}
body{
   /* background-image: url(/multimedia/imagenes/fondoPared.jpg);*/
    background-color: black;
}


h1{
    font-family: 'Comforter', cursive;
    color: purple ;
    font-style: italic;
    font-weight: bolder;
    font-size: 8rem;
    text-align: left;
}
h2
 {
     color: rgb(231, 127, 235);
     font-family: 'Nosifer', cursive;
 }
 h3
 {
     color: dodgerblue;
    
     font-family: 'Nosifer', cursive;
 }



header{
    height: 150vh;
    width: 100%;
    background-image: url(./multimedia/imagenes/skateparport.jpg);
    background-size: cover;
}
header p {
    width: 30%;
    color: cornsilk;
}


.caja {

    display: flex;
    justify-content: space-around;
    align-items: flex-start; 
    flex-shrink: unset;
      
}

.caja1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-basis: 50%;
    
}

video {
    width: 48%;
}
iframe{
    width: 48%;
   
}

.local{
    height: 80px;
    width: 80px;
    background-color: chartreuse;
    border: 2px solid royalblue;
}
.caja3{
    width: 100%;
    height: 50% ;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
table
{background-color: whitesmoke;}
section article p{color: orange;}
table th {color: rgb(187, 185, 27);}
table td {color:firebrick;}
table li {color: orangered;}
form {background-color: palegoldenrod;}
 section li {font-weight: bold;}

.numeros ul li{
margin: 15px 30px;
list-style-image: url(./multimedia/imagenes/skate.jpg);

}
form{
    margin: 20px;
    border: solid black;
}
.caja4{
    margin: 5px;
    display: grid;
    width: 100%;
    height: 20%;
    gap: 50px;
    grid-template-columns: repeat( 2 , 1fr);  

}
.espacio{
    border: solid black;
}

footer
{
text-align: center;
}
p
{color: floralwhite;}
li
{color: floralwhite;}
