@import url("https://fonts.googleapis.com/css2?family=Nosifer&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(/multimedia/imagenes/fondo7.jpg);
  background-size: cover;
}

h1 {
  font-family: 'Nosifer', cursive;
  text-align: left;
  font-size: 70px;
  color: #7ef706;
  -webkit-transform: skewX(140deg);
          transform: skewX(140deg);
  -webkit-transition: all 5s;
  transition: all 5s;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: aparecer;
          animation-name: aparecer;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  padding: 30px;
}

@-webkit-keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 2;
  }
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 2;
  }
}

h1:hover {
  color: red;
}

.contenedor {
  width: 100%;
  height: 800px;
  display: -ms-grid;
  display: grid;
  gap: 10px;
}

.galeria .img {
  border: 1px solid black;
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
  .contenedor {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .img1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .img2 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .img3 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    grid-row: 2/4;
  }
  .img4 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
  }
  .img5 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5/6;
  }
  .img6 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5/6;
  }
  .img7 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 6;
    -ms-grid-row-span: 1;
    grid-row: 6/7;
  }
  .img8 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 6;
    -ms-grid-row-span: 1;
    grid-row: 6/7;
  }
  .img9 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 7;
    -ms-grid-row-span: 2;
    grid-row: 7/9;
  }
  .img10 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 7;
    -ms-grid-row-span: 2;
    grid-row: 7/9;
  }
  .img11 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 9;
    -ms-grid-row-span: 1;
    grid-row: 9/10;
  }
  .img12 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 9;
    -ms-grid-row-span: 1;
    grid-row: 9/10;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .contenedor {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 768px) {
  .contenedor {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
  .img1 {
    -ms-grid-column: 1;
    grid-column: 1/1;
    -ms-grid-row: 1;
    grid-row: 1/1;
    background-color: chocolate;
    background-image: url(../multimedia/imagenes/img4.jpg);
    background-size: cover;
    background-position: center;
  }
  .img2 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2/4;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    background-color: chartreuse;
    background-image: url(multimedia/imagenes/img2.jpg);
    background-size: cover;
    background-position: bottom;
  }
  .img3 {
    -ms-grid-column: 4;
    grid-column: 4/4;
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    grid-row: 1/4;
    background-color: cornflowerblue;
    background-image: url(../multimedia/imagenes/img3.jpg);
    background-size: cover;
    background-position: center;
  }
  .img4 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 3;
    grid-row: 2/5;
    background-color: darkgreen;
    background-image: url(../multimedia/imagenes/img1.webp);
    background-size: cover;
    background-position: center;
  }
  .img5 {
    -ms-grid-column: 2;
    grid-column: 2/2;
    -ms-grid-row: 2;
    grid-row: 2/2;
    background-color: darkviolet;
    background-image: url(../multimedia/imagenes/img11.jpg);
    background-size: cover;
    background-position: center;
  }
  .img6 {
    -ms-grid-column: 3;
    grid-column: 3/3;
    -ms-grid-row: 2;
    grid-row: 2/2;
    background-color: deeppink;
    background-image: url(../multimedia/imagenes/img7.jpg);
    background-size: cover;
    background-position: center;
  }
  .img7 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2/4;
    -ms-grid-row: 3;
    -ms-grid-row-span: 2;
    grid-row: 3/5;
    background-color: gold;
    background-image: url(../multimedia/imagenes/img6.jpg);
    background-size: cover;
    background-position: top;
  }
  .img8 {
    -ms-grid-column: 4;
    grid-column: 4/4;
    -ms-grid-row: 4;
    -ms-grid-row-span: 4;
    grid-row: 4/8;
    background-color: linen;
    background-image: url(../multimedia/imagenes/img8.jpg);
    background-size: cover;
    background-position: center;
  }
  .img9 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 5;
    -ms-grid-row-span: 3;
    grid-row: 5/8;
    background-color: seagreen;
    background-image: url(../multimedia/imagenes/img9.jpg);
    background-size: cover;
    background-position: center;
  }
  .img10 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2/4;
    -ms-grid-row: 5;
    -ms-grid-row-span: 3;
    grid-row: 5/8;
    background-color: springgreen;
    background-image: url(../multimedia/imagenes/img10.jpg);
    background-size: cover;
    background-position: center;
  }
  .img11 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 8;
    -ms-grid-row-span: 3;
    grid-row: 8/11;
    background-color: black;
    background-image: url(../multimedia/imagenes/img5.jpeg);
    background-size: cover;
    background-position: center;
  }
  .img12 {
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-column: 3/5;
    -ms-grid-row: 8;
    -ms-grid-row-span: 3;
    grid-row: 8/11;
    background-color: #FF4500;
    background-image: url(../multimedia/imagenes/img12.jpg);
    background-size: cover;
    background-position: center;
  }
}

.local {
  height: 300px;
  width: 300px;
  background-color: cyan;
  border: 3px solid #151616;
}

.caja3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.local {
  width: 30%;
  height: 200px;
  display: -ms-grid;
  display: grid;
  gap: 10px;
}

.evento {
  height: 300px;
  width: 100%;
  background-color: cyan;
  border: 3px solid #151616;
}

.articulos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.eventos__h1--color {
  color: black;
}

.eventos__menu--line {
  line-height: 30px;
}

.uleven__a--border {
  border-color: black;
}

.articulos__evento1--background {
  background-color: brown;
}

.comers__h1--text {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.caja3__local1--text {
  font-size: 50px;
}

.foot__p--aling {
  text-align: center;
}

.foot__h3--color {
  color: black;
}

.local7 {
  width: 50%;
  height: 250px;
  background-color: #FF4500;
}

.local8 {
  width: 50%;
  height: 250px;
  background-color: #00008B;
}

.reco {
  width: 100%;
  height: 300px;
  background-color: #FF4500;
  border: solid #000000;
}

.reco-1 {
  text-align: center;
  width: 100%;
  height: 300px;
  border: solid #000000;
  font-size: 50px;
  margin: 5px;
}

.reco-2 {
  text-align: center;
  width: 100%;
  height: 300px;
  border: solid #000000;
  font-size: 50px;
  margin: 5px;
}

.reco-3 {
  text-align: center;
  width: 100%;
  height: 300px;
  border: solid #000000;
  font-size: 50px;
  margin: 5px;
}

.reco-4 {
  text-align: center;
  width: 100%;
  height: 300px;
  border: solid #000000;
  font-size: 50px;
  margin: 5px;
}

.reco-5 {
  text-align: center;
  width: 100%;
  height: 300px;
  border: solid #000000;
  font-size: 50px;
  margin: 5px;
}

.reco-1 {
  background-color: #0000be;
}

.reco-2 {
  background-color: #0000f1;
}

.reco-3 {
  background-color: #2525ff;
}

.reco-4 {
  background-color: #5858ff;
}

.reco-5 {
  background-color: #8b8bff;
}

.evento {
  width: 100%;
  height: 300px;
  background-color: #FF4500;
  border: solid #000000;
}

.evento-blue {
  border-color: blue;
  color: black;
  background-color: blue;
  font-size: 50px;
  border: solid;
  height: 300px;
  width: 100%;
}

.evento-red {
  border-color: red;
  color: black;
  background-color: red;
  font-size: 50px;
  border: solid;
  height: 300px;
  width: 100%;
}

.evento-yellow {
  border-color: yellow;
  color: black;
  background-color: yellow;
  font-size: 50px;
  border: solid;
  height: 300px;
  width: 100%;
}

.evento-green {
  border-color: green;
  color: black;
  background-color: green;
  font-size: 50px;
  border: solid;
  height: 300px;
  width: 100%;
}

.local--local1 {
  background-color: #FF0000;
  height: 250px;
  width: 30%;
  border: 2px solid black;
  text-align: center;
  font-size: 60px;
  color: black;
  text-shadow: 0 0  6px blue;
}

.local--local2 {
  background-color: #FF0000;
  height: 250px;
  width: 30%;
  border: 2px solid black;
  text-align: center;
  font-size: 60px;
  color: black;
  text-shadow: 0 0  6px blue;
}

.local--local3 {
  background-color: #FF0000;
  height: 250px;
  width: 30%;
  border: 2px solid black;
  text-align: center;
  font-size: 60px;
  color: black;
  text-shadow: 0 0  6px blue;
}

.local--local4 {
  background-color: #FF0000;
  height: 250px;
  width: 50%;
  border: 2px solid black;
  text-align: center;
  font-size: 60px;
  color: black;
  text-shadow: 0 0  6px blue;
}

.local--local5 {
  background-color: #FF0000;
  height: 250px;
  width: 50%;
  border: 2px solid black;
  text-align: center;
  font-size: 60px;
  color: black;
  text-shadow: 0 0  6px blue;
}

.local--local6 {
  background-color: #FF0000;
  height: 250px;
  width: 100%;
  border: 2px solid black;
  text-align: center;
  font-size: 60px;
  color: black;
  text-shadow: 0 0  6px blue;
}
/*# sourceMappingURL=style.css.map */