@import url('https://fonts.googleapis.com/css2?family=Nosifer&display=swap');

*{
    margin: 0;
    padding: 0;
}
//
$var1: 100%;
$var2: 50%;

// dimensiones
$size1: 100%;
$size2: 50%;
$size3: 20%;
$size4: 10px;
$alto: 300px;

//colores

$rojo: #FF0000;
$naranja: #FF4500;
$azul: #00008B;
$negro: #000000;
$colores: blue,red,yellow,green;



body{
    background-image: url(../multimedia/imagenes/fondo7.jpg);
    background-size: cover;
   
}
h1{
    font-family: 'Nosifer', cursive;
    text-align: left;
    font-size: 70px;
    color: rgb(126, 247, 6);
    transform: skewX(140deg);
    transition: all 5s;
    animation-duration: 3s;
    animation-name: aparecer;
    animation-delay: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    padding: 30px;
}
@keyframes aparecer {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 2;
    }
}
h1:hover{
   color: red;
}

.contenedor{
    width: 100%;
    height: 800px;
    display: grid;
    gap: 10px;
   
}
.galeria .img{
    border: 1px solid black;
  
}
@media only screen and (min-width:320px) and (max-width:479px){
    .contenedor{
        grid-template-columns: repeat( 2 , 1fr);
    }
    .img1{
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .img2{
        grid-column:2/3 ;
        grid-row:1/2 ;
    }
    .img3{
        grid-column:1/3 ;
        grid-row: 2/4;
    }
    .img4{
        grid-column:1/3 ;
        grid-row: 4/5;
    }
    .img5{
        grid-column:1/2 ;
        grid-row: 5/6;
    }
    .img6{
        grid-column:2/3 ;
        grid-row:5/6 ;
    }
    .img7{
        grid-column:1/2 ;
        grid-row: 6/7;
    }
    .img8{
        grid-column:2/3 ;
        grid-row: 6/7;
    }
    .img9{
        grid-column:1/2 ;
        grid-row: 7/9 ;
    }
    .img10{
        grid-column:2/3 ;
        grid-row: 7/9;
    }
    .img11{
        grid-column:1/2 ;
        grid-row: 9/10;
    }
    .img12{
        grid-column:2/3 ;
        grid-row:9/10;
    }
  
    
}

@media screen and (min-width:480px) and (max-width:767px) {
    .contenedor {
        grid-template-columns: repeat( 2 , 1fr);   
    }

    
}

@media screen and (min-width:768px){
    
    .contenedor{
        grid-template-columns: repeat( 4 , 1fr);
     }
    .img1 {
        grid-column: 1/1;
        grid-row: 1/1;
        background-color: chocolate;
        background-image: url(../multimedia/imagenes/img4.jpg);
        background-size: cover;
        background-position: center;
    }
    .img2 {
        grid-column: 2/4;
        grid-row: 1/2;
        background-color: chartreuse;
        background-image: url(/multimedia/imagenes/img2.jpg);
        background-size: cover;
        background-position: bottom;
    }
    .img3{
        grid-column: 4/4;
        grid-row: 1/4 ;
        background-color: cornflowerblue;
        background-image: url(../multimedia/imagenes/img3.jpg);
        background-size: cover;
        background-position: center;
    }
    .img4{ 
        grid-column: 1/2;
        grid-row: 2/5;
        background-color: darkgreen;
        background-image: url(../multimedia/imagenes/img1.webp);
        background-size: cover;
        background-position: center;
    }
    .img5{
        grid-column: 2/2;
        grid-row: 2/2;
        background-color: darkviolet;
        background-image: url(../multimedia/imagenes/img11.jpg);
        background-size: cover;
        background-position: center;
    }
    .img6{
        grid-column: 3/3;
        grid-row: 2/2;
        background-color: deeppink;
        background-image: url(../multimedia/imagenes/img7.jpg);
        background-size: cover;
        background-position: center;
    }
    .img7{
        grid-column: 2/4;
        grid-row: 3/5;
        background-color: gold;
        background-image: url(../multimedia/imagenes/img6.jpg);
        background-size: cover;
        background-position:top;
    }
    .img8{
        grid-column: 4/4;
        grid-row: 4/8;
        background-color: linen;
        background-image: url(../multimedia/imagenes/img8.jpg);
        background-size: cover;
        background-position: center;
    }
    .img9{
        grid-column: 1/2;
        grid-row: 5/8;
        background-color: seagreen;
       background-image: url(../multimedia/imagenes/img9.jpg);  
       background-size: cover;
        background-position: center; 
    }
    .img10{
        grid-column: 2/4 ;
        grid-row: 5/8 ;
        background-color: springgreen;
        background-image: url(../multimedia/imagenes/img10.jpg);
        background-size: cover;
        background-position: center;
    }
    .img11{
        grid-column: 1/3;
        grid-row: 8/11;
        background-color: black;
        background-image: url(../multimedia/imagenes/img5.jpeg);
        background-size: cover;
        background-position: center;
    }
    .img12{
        grid-column: 3/5;
        grid-row: 8/11;
        background-color: #FF4500;
        background-image: url(../multimedia/imagenes/img12.jpg);
        background-size: cover;
        background-position: center;
    }
}

.local {
    height: 300px;
    width: 300px;
    background-color: cyan;
    border: 3px solid rgb(21, 22, 22);

}
.caja3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}
.local{
    
        width: 30%;
        height: 200px;
        display: grid;
        gap: 10px;
       
    }

    .evento{
        height: 300px;
        width: 100%;
        background-color: cyan;
        border: 3px solid rgb(21, 22, 22);
    }

.articulos{
    
        display: flex;
        flex-direction: column;

}
.eventos__h1--color {
    color: black;
  }
  .eventos__menu--line{
      line-height: 30px;
  }
.uleven__a--border{
    border-color: black;
}
.articulos__evento1--background{
    background-color: brown;
}
.comers__h1--text{
    text-decoration-line: underline;
}
.caja3__local1--text{ 
    font-size: 50px;
}
.foot__p--aling{
    text-align: center;
    
}
.foot__h3--color{
    color: black;
}

.local7{
    width: ($size1) - ($size2);
    height: ($alto)-50;
    background-color: $naranja;

}
.local8{
    width: ($size1) - ($size2);
    height: ($alto)-50;
    background-color: $azul;

}

//recomendaciones

.reco{
    width: $size1;
    height: $alto;
    background-color: $naranja;
    border: solid $negro;
}
@for $in from 1 to 6 {
    .reco-#{$in} {
        text-align: center;
        width: $size1;
        height: $alto;
        border: solid $negro;
        font-size: $size4*5;
        margin: $size4/2;
    }
    
}
@for $in from 1 to 6 {
    .reco-#{$in}{
        background-color: lighten($azul, $in * 10%);
    }
}
//eventos
.evento{
    width: $size1;
    height: $alto;
    background-color: $naranja;
    border: solid $negro;
}

@each $evento in $colores{
    .evento-#{$evento}{
        border-color: $evento;
        color: black;
        background-color: $evento;
        font-size: 50px;
        border: solid;
        height:$alto;
        width: $var1;
        
    }

}
//comercios

$coms: (
    local1:30%,
    local2:30%,
    local3:30%,
    local4:50%,
    local5:50%,
    local6:100%,
);
@each $local, $size in $coms {
    .local--#{$local}{
        background-color: $rojo;
        height: 250px;
        width: $size;
        border: 2px solid black;
        text-align: center;
        font-size: 60px;
        color: black;
        text-shadow: 0 0  6px blue;


    }
    
}
